<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
   <setting id="username" type="text" label="30000" default=""/>
   <setting id="password" type="text" option="hidden" label="30001" default=""/>
   <setting id="format" label="30002" type="labelenum" values="mp4|m3u8" default="mp4"/> 
   <setting id="maxbitrate" label="30003" type="slider" default="2500" range="500,500,5000" option="int"/> 
   <setting type='sep'/>
   <setting label="30108" type="action" action="RunScript(plugin.video.telkkarista,1,?mode=speedtest)"/>
   <setting label="30007" id="preferredhosts" type="text" enable="0" />
</settings>
